<div class="banner">
  <h1>Bienvenido a mi página web</h1>
  <p>¡Hola! Gracias por visitar mi página web. Aquí encontrarás contenido sobre mis intereses y pasiones. Explora las diferentes secciones para descubrir más.</p>
</div>
<div class="container">
  <div class="botones">
    <a href="" routerLink="/fotos" class="boton">Fotografía</a>
    <button class="boton">Inteligencia Artificial</button>
    <button class="boton">Videojuegos</button>
  </div>
  <div class="imagenes">
    <img src="https://th.bing.com/th/id/OIP.86U66pGI-B4oOMEZjBjYeAHaEK?rs=1&pid=ImgDetMain" alt="Fotografía">
    <img src="https://th.bing.com/th/id/R.0dfd6e3715a506b9584196ffa9284a8c?rik=x57hRHTG%2fdSGhg&pid=ImgRaw&r=0" alt="Inteligencia Artificial">
    <img src="https://th.bing.com/th/id/R.d61de2c044c2847c280e8c138e24620f?rik=H4ZXhPMEAhnUkA&riu=http%3a%2f%2fimg.chilango.com%2f2017%2f08%2fGamer-videojuegos.jpg&ehk=Vb9JEApAXRr%2bD6UKW7VKeuYPb57rSaciZ89UjedZ7t4%3d&risl=&pid=ImgRaw&r=0" alt="Videojuegos">
  </div>
</div>
<footer>
  <p>© 2024 Mi Página Web. Todos los derechos reservados.</p>
</footer>
<router-outlet/>

